@media only screen and (max-width: 699px){
    * {
        margin: 0;
        padding: 0;
        font-size: 10pt;
    }
    
    #weblogo {
        height: 10em;
        width: 10em;
        transform: translateY(35%);
    }
}
@media only screen and (min-width: 700px){
    * {
        margin: 0;
        padding: 0;
    }
        
    #weblogo {
        height: 5em;
        width: 5em;
        transform: translateY(35%);
    }
}
html {
    background-color: #ffffff; 
    color: #000000;
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    margin: 0;
    padding: 0;
}
#wrapper {
    text-align: center;
}
#home-page {
    text-align: center;
}
a {
    text-decoration: none;
    color: inherit;
}
#topbreakline {
    height: 5em;
    transition: .5s;
}
.textbox {
    width: 100%;
    font-size: 1.5em;
    line-height: 2em;
    text-align: center;
    display: inline-block;
    padding-top: 5em;
    padding-bottom: 5em;
}
.whitebg {
    background-color: white;
}
.bluebg {
    background-color: #042643;
    color: white !important;
}
#contacts {
    background-color: #0d4170;
    color: white !important;
}
.socials li {
    list-style-type: none;
    display: inline-block;
    padding: .5em;
}
.socialimg {
    box-shadow: 0 0 .35em #000000ff;
    border-radius: 100%;
    transition: .15s;
}
.socialimg:hover {
    box-shadow: 0 0 .75em rgb(168, 168, 168);
}
#igimg {
    width: 5em;
    height: 5em;
}
#gitimg {
    width: 5em;
    height: 5em;
    background-color: white;
}
#projects {
    margin: 0 auto;
}
#projects .tdentry {
    margin: 2em;
}
.tdentry {
    border-radius: 1em;
    box-shadow: 0 0 .2em #000000dd;
    transition: .1s;
    width: 25vw;
}
.tdentry:hover {
    border-radius: 1em;
    box-shadow: 0 0 .5em #00000099;
}
.tdentry p {
    padding-left: 0;
    padding-right: 0;
    padding-top: .5em;
    padding-bottom: .5em;
    margin: 0;
}
.tdimg {
    width: 25vw;
    height: 25vh;
    background-repeat:round;
    background-position: center;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
#walle {
    background-image: url("https://i.ytimg.com/vi/FhKpGf0vdG8/maxresdefault.jpg");
    background-size: 25vw 25vh;
}
#car {
    background-image: url("https://www.rainierdodgeolympia.com/assets/shared/CustomHTMLFiles/Responsive/MRP/Dodge/2019/Charger/images/2019-Dodge-Charger-01.jpg");
}
.divider {
    width: 10%;
    height: 5px;
    background-color: rgb(173, 21, 21);
    margin: 0 auto;
    margin-top: 5em;
    margin-bottom: 5em;
}
.textbox p {
    text-align: center;
    margin-left: 4em;
    margin-right: 4em;
}
#firstsection {
    width: 100%;
    height: 45vh;
    background-image: url("https://www.colorado.edu/engineering/sites/default/files/styles/slider/public/slider/cu_some_042716_0505.jpg?itok=voa1ix_a");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
h2 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
}
h3 {
    font-size: 2em;
    
    padding-top: .5em;
    padding-bottom: .5em;
}
.author {
    color: #ffffff80 ;
    font-style: italic;
}
#bottom-join-a {
    display: inline-block;
    font-size: 4em;
    transition: .25s;
}

#bottom-join-a:hover {
    transform: scale(1.2);
}
#bottom-bar {
    width: 100%;
    height: 10em;
}
#footer {
    font-size: 2em;
    text-align: center;
    color: #00000080 ;
    font-style: italic;
    transform: translateY(4em);
}
#nav {
    position: fixed;
    text-align: center;
    width: 100%;
}
#nav-tab td {
    font-size: 2em;
    list-style: none;
    display: inline-block;
    text-shadow: 0 0 1em rgba(255, 255, 255, 0);
    transition: .2s;
}
#nav-tab {
    width: 100%;
    text-align: center;
    transform: translateY(-75%);
    transition: .5s;
    color: #ffffff;
}
#nav-tab table {
    margin: 0 auto;
}
#nav-tab td {
    padding-left: 2.5vw;
    padding-right: 2.5vw;
}
.font1em {
    font-size: 1em;
}
#nav-tab td:hover {
    transform: scale(1.1);
}
#top-bar {
    width: 100%;
    height: 5em;
    background-color: #1a3859;
    transition: .5s;
    box-shadow: 0px 5px 1em #000000aa;
}
button {
    float: right;
    transform: translateY(-800%);
    margin: .5em;
    font-size: 1.5em;
    color: #deb992;
    background-color: #00000000;
    border-color: #00000000;
    white-space: nowrap;
    transition: .25s;
}
button:hover {
    transform: scale(1.2) translateY(-665%);
    text-shadow: 0 0 1em #f5e1cd;
    color: #f5e1cd
}